In [1]:
# Topic : List

In [17]:
# Q1. Create a list of 5 random numbers and print the list. 

List1 = [2,5,8,6,4]
print(type(List1))

<class 'list'>

In [19]:
# Q2. Insert 3 new values to the list and print the updated list. 

List1.append("Hai")
List1.append(1)
List.append(9)
print(List1)

[2, 5, 8, 6, 4, 'Hai', 1]

In [25]:
# Q3. Try to use a for loop to print each element in the list. 

for i in List1:
    print(i)

2
5
8
6
4
Hai
1

In [28]:
#Topic: Dictionary

In [30]:
# Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

Dictionary1 = {'Name':'Jogn','Age':25,'Address':'Newyork'}
print(type(Dictionary1))
Dictionary1

<class 'dict'>

{'Name': 'Jogn', 'Age': 25, 'Address': 'Newyork'}

In [32]:
# Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'. 

Dictionary1['Phone'] = 1234567890
print(Dictionary1)

{'Name': 'Jogn', 'Age': 25, 'Address': 'Newyork', 'Phone': 1234567890}

In [35]:
# Topic: Set

In [41]:
# Q1.Create a set with values 1, 2, 3, 4, and 5.

Set1 = {1,2,3,4,5}
print(type(Set1))
Set1

<class 'set'>

{1, 2, 3, 4, 5}

In [45]:
# Q2. Add the value 6 to the set created in Q1. 

Set1.add(6)
print(Set1)

{1, 2, 3, 4, 5, 6}

In [47]:
# Q3. Remove the value 3 from the set created in Q1. 

Set1.remove(3)
print(Set1)

{1, 2, 4, 5, 6}

In [50]:
# Tuple

In [52]:
# Q1. Create a tuple with values 1, 2, 3, and 4 

Tuple1 = (1,2,3,4)
print(type(Tuple1))
Tuple1

<class 'tuple'>

(1, 2, 3, 4)

In [64]:
# Q2. Print the length of the tuple created in Q1.

print(len(Tuple1))
Tuple1

4

(1, 2, 3, 4)