In [1]:
# Dictionary

In [3]:
#method 1 - Empty Dictionary
d1={}

In [5]:
# Method 2
person = {'Name' : 'Achu','Age' : 10,'City' : 'Delhi'}

In [7]:
person

{'Name': 'Achu', 'Age': 10, 'City': 'Delhi'}

In [9]:
print(type(person))

<class 'dict'>

In [11]:
# Method 3
d2 = dict(Name='Bob',Age=25,City='Mumbai')
d2

{'Name': 'Bob', 'Age': 25, 'City': 'Mumbai'}

In [21]:
# Accessing Dictionary
print(person['Name'])
print(person['Age'])
print(d2['Name'])

Achu
10
Bob

In [27]:
#adding new keys to dictionary
person['Job'] ='Data Analyst'
person
person['Contact'] =1236547890
person

{'Name': 'Achu',
 'Age': 10,
 'City': 'Delhi',
 'Job': 'Data Analyst',
 'Contact': 1236547890}

In [29]:
person['Name'] = 'Niharika'
person

{'Name': 'Niharika',
 'Age': 10,
 'City': 'Delhi',
 'Job': 'Data Analyst',
 'Contact': 1236547890}

In [31]:
# update - To update more than one value
person.update({'salary':50000,'Age':30})
person

{'Name': 'Niharika',
 'Age': 30,
 'City': 'Delhi',
 'Job': 'Data Analyst',
 'Contact': 1236547890,
 'salary': 50000}

In [35]:
#delete single key value pair
del person['Contact']
person

{'Name': 'Niharika',
 'Age': 30,
 'City': 'Delhi',
 'Job': 'Data Analyst',
 'salary': 50000}

In [37]:
# to print keys
a=person.keys()
a

dict_keys(['Name', 'Age', 'City', 'Job', 'salary'])

In [39]:
# to print values
b=person.values()
b

dict_values(['Niharika', 30, 'Delhi', 'Data Analyst', 50000])

In [41]:
# to print keys and values
c=person.items()
c

dict_items([('Name', 'Niharika'), ('Age', 30), ('City', 'Delhi'), ('Job', 'Data Analyst'), ('salary', 50000)])