Tuple

In [9]:
t1=(2,"Nisha",8.2) #Tuple creation
t1
print(t1)
print(type(t1))  #identify type

(2, 'Nisha', 8.2)
<class 'tuple'>

In [3]:
print(t1)

(2, 'Nisha', 8.2)

In [15]:
t2= 10,"Hello"
print(t2)
print(type(t2))
(10,'hello')

(10, 'Hello')
<class 'tuple'>

(10, 'hello')

In [23]:
t3 = (5.3,)
print (t3)

(5.3,)

In [25]:
print(type(t3))

<class 'tuple'>

In [21]:
#tuples should be comma separated

In [27]:
t4= tuple('hello')  # tuple creation
print(t4)

('h', 'e', 'l', 'l', 'o')

In [29]:
t5 = (t2,t1)

In [31]:
print(t5)

((10, 'Hello'), (2, 'Nisha', 8.2))

In [35]:
tq = (t1,t2)
print(tq)

((2, 'Nisha', 8.2), (10, 'Hello'))

In [49]:
t7 = (3,'Nisha',5.4,8,6,15)     
print(t7)              # indexing/slicing
print(t7[0:3])         # to print particular values of tuple
print(t7[-4:-1])
print(t7[-1])

(3, 'Nisha', 5.4, 8, 6, 15)
(3, 'Nisha', 5.4)
(5.4, 8, 6)
15

In [53]:
a,b,c,d,e,f = t7  #unpacking
print(a)

3

In [63]:
del t7[0]  # tuple does not support item deletion

TypeError: 'tuple' object doesn't support item deletion

In [65]:
del(t7)

In [67]:
print(t7)

NameError: name 't7' is not defined